<?xml version="1.0" encoding="utf-8" ?>
<menu xmlns:android="http://schemas.android.com/apk/res/android">
  <item
    android:id="@+id/navmain"
    android:title="Home"
    android:textColor="#E65100"></item>
  <item
    android:id="@+id/navlist"
    android:title="Products"
    android:textColor="#FFFFFF"></item>
  <item
    android:id="@+id/navprice"
    android:title="Prices"
    android:textColor="#FFFFFF"></item>
  <item
    android:id="@+id/navmap"
    android:title="Maps"
    android:textColor="#FFFFFF"></item>
  <item
   android:id="@+id/navcalendar"
   android:title="Calendar"
   android:textColor="#FFFFFF"></item>
</menu>
